body {
  color: #414141; /*Dark Grey*/
  background: #EEEEEE; /*Light Grey*/
  font-size:18px;
  width: 100%;
}

h1 {
  font-size:2em;
  padding-top: 10px;
}

h2 {
  font-size:1.6em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;
}

ul {
  list-style-type: circle;
  font-size: 16px;
  font: "Helvetica"
  padding-left: 0;
  
}

ol {
  list-style-type: lower-roman;
  font-size: 16px;
}

a {
  text-decoration: none; /*links*/
  display: inline;
}

p {
  text-align: center;
  line-height: normal;
  margin-left: 1px;
}

em, strong {
  background-color: #ADD8E6
  display: inline;
}

table, th, td {
  border: 1px solid black;
}

* {
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  background-color: #333;
  color: white;
  margin: 0;
  padding: 40px;
}

section {
  color: #FFF; /*Button to get back to top*/
  background-color: black;
  font-weight: bold;
  padding: 20px;
  text-align:center;
  border: 2px solid #5D6063;
  border-radius: 5px;
  width: 200px;
  box-sizing: border-box;
  margin: 20px auto;
}

#pictures{
display:flex;
justify-content:center;
}  /*Social Media pictures*/

.titles {
  display: inline-block;
} /*social media title*/

img {
  background-color: #EEEEEE; /*Used to whiten out the highlight for links for soical media pictures*/
}

#Social {
  border:none
  width: auto;
}

h3 {
  padding: 0 70px 0 110px;
}

img {
  text-decoration: none;
}

#social {
  border-collapse: collapse;
}


.hero-image {
  background-image: url("../Basic-web-pages/My-portfolio/Engineer.jpg"); /*This destination is changed whenevr you upload*/
  height: 750px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text { /*For The big picture on the home page*/
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin-top:100px;
  padding: 10px;
}

.hero-text button { /*For the 'hire me' button*/
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover { /*For the 'hire me' button*/
  background-color: #555;
  color: white;
}

#hero-header { /*For the "My name is Anil Vitali Sekhar Naik"*/
  padding:20px;
  opacity: 0.8;
 border-radius: 21px;
}

@media (max-width: 400px}{
  .hero-text {
    font-size: 16px;
  }
}

@media (max-width: 400px){
  #hero-header {
    font-size: 20px
  }
}

@media (max-width: 400px){
   body, h1, {
    font-size: 12px;
    border:none;
  }
}

@media (max-width: 400px){
  .hero-image {
    text-align: center;
    width: 100%px;
}
  }
}

@media (max-width: 400px){
  #edu { width: 100%;
  }
}

li {
  word-wrap: break-word;
}

@media (max-width: 400px){
  li {
    font-size:12px;
    }
  }

  table {
    font-size: 18px;
  }

  .navi {
    padding:0px, 0px, 0px, 0px;
    height: 50px;
    width:50px;
    
  }